@model Zs.App.Home.Web.Areas.ApiVk.Models.VkDetailedUserActivityVM

<table class="table">
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(m => m.UserName)</th>
            <td>@Html.DisplayFor(m => m.UserName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.AnalyzedDaysCount)</th>
            <td>@Html.DisplayFor(m => m.AnalyzedDaysCount)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.ActivityDaysCount)</th>
            <td>@Html.DisplayFor(m => m.ActivityDaysCount)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.BrowserEntrance)</th>
            <td>@Html.DisplayFor(m => m.BrowserEntrance)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.MobileEntrance)</th>
            <td>@Html.DisplayFor(m => m.MobileEntrance)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.BrowserActivityTime)</th>
            <td>@Html.DisplayFor(m => m.BrowserActivityTime)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.MobileActivityTime)</th>
            <td>@Html.DisplayFor(m => m.MobileActivityTime)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.FullActivityTime)</th>
            <td>@Html.DisplayFor(m => m.FullActivityTime)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.AvgDailyActivityTime)</th>
            <td>@Html.DisplayFor(m => m.AvgDailyActivityTime)</td>
        </tr>
    </tbody>
</table>