@model Zs.App.Home.Web.Areas.ApiVk.Models.PeriodUserActivityVM

<table class="table">
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(m => m.UserName)</th>
            <td><a href="@Model.Url" target="_blank">@Html.DisplayFor(m => m.UserName)</a></td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.EntranceCounter)</th>
            <td>@Html.DisplayFor(m => m.EntranceCounter)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.MobileActivity)</th>
            <td>@Html.DisplayFor(m => m.MobileActivity)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.BrowserActivity)</th>
            <td>@Html.DisplayFor(m => m.BrowserActivity)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.FullActivity)</th>
            <td>@Html.DisplayFor(m => m.FullActivity)</td>
        </tr>
    </tbody>
</table>