@model UserRoleViewModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Users" asp-action="Index" method="get">
    <select asp-for="UserRoleCode" asp-items="Model.RoleCodes">
        <option value="">All</option>
    </select>
    
    <p>
        Имя: <input type="text" name="SearchString" />
        <input type="submit" value="Фильтр" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserRoleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserIsBot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].RawData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].RawDataHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].RawDataHistory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].InsertDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRoleCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserIsBot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawDataHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawDataHistory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertDate)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.UserId">Edit</a>*@ |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
